p {
    font-family: Verdana;
    margin: 0;
    max-width: 300px;
}

.sarlavha {
    font-weight: bold;
    font-size: large;
    margin-bottom: 3px;
}

.izoh {
    color: gray;
    margin-bottom: 20px;
}

.send-button {
    font-size: 70px;
    font-weight: bold;
    padding: 20px;
    background-color: tomato;
    transition: padding-left 0.3s, padding-right 0.3s, padding-top 0.3s, padding-bottom 0.3s;
}

.send-button:hover {
    padding-left: 100px;
    padding-right: 100px;
}

.send-button:active {
    padding-top: 100px;
    padding-bottom: 100px;
}