.side-bar{
    position: fixed;
    bottom: 0;
    top: 55px;
    left: 0;
    width: 72px;
    z-index: 200;
    background-color: white;
}



.sidebar-link {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: lightgray;
}

.sidebar-link img {
    height: 26px;
    margin-bottom: 4px;
}
.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}

@media (min-width:600px) and (max-width: 999px) {
    .sidebar-link img {
        height: 40px;
        margin-bottom: 5px;
    }
    .side-bar div {
        height: 110px;
        font-size: 12px;
    }
    .side-bar{
        width: 100px;
    }
}